@font-face {
    font-family: 'Handel Gothic D';
    src: url('HandelGotD-Bold.eot');
    src: url('HandelGotD-Bold.eot?#iefix') format('embedded-opentype'),
        url('HandelGotD-Bold.woff2') format('woff2'),
        url('HandelGotD-Bold.woff') format('woff'),
        url('HandelGotD-Bold.ttf') format('truetype'),
        url('HandelGotD-Bold.svg#HandelGotD-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
